<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer class="app-footer">
    <div class="container footer-inner">
        <div class="row">
            <div class="col-sm-3 footer-brand">
                <div class="logo-icon">P</div>
                <div class="social-icons">
                    <a href="#" class="icon">✕</a>
                    <a href="#" class="icon">📷</a>
                    <a href="#" class="icon">▶</a>
                    <a href="#" class="icon">in</a>
                </div>
            </div>

            <div class="col-sm-3 footer-col">
                <h4 class="col-title">Use cases</h4>
                <a href="#">UI design</a>
                <a href="#">UX design</a>
                <a href="#">Wireframing</a>
                <a href="#">Diagramming</a>
                <a href="#">Brainstorming</a>
                <a href="#">Online whiteboard</a>
                <a href="#">Team collaboration</a>
            </div>

            <div class="col-sm-3 footer-col">
                <h4 class="col-title">Explore</h4>
                <a href="#">Design</a>
                <a href="#">Prototyping</a>
                <a href="#">Development features</a>
                <a href="#">Design systems</a>
                <a href="#">Collaboration features</a>
                <a href="#">Design process</a>
                <a href="#">FigJam</a>
            </div>

            <div class="col-sm-3 footer-col">
                <h4 class="col-title">Resources</h4>
                <a href="#">Blog</a>
                <a href="#">Best practices</a>
                <a href="#">Colors</a>
                <a href="#">Color wheel</a>
                <a href="#">Support</a>
                <a href="#">Developers</a>
                <a href="#">Resource library</a>
            </div>
        </div>
    </div>
</footer>
</html>