<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav class="navbar navbar-default app-header">
    <div class="container-fluid" style="position: relative;">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">
                <img src="/img/Figma.png" alt="Logo">
            </a>
        </div>

        <div class="auth-buttons navbar-right">
            <button type="button" class="btn btn-default navbar-btn" style="margin-right: 5px">로그인</button>
            <button type="button" class="btn btn-default navbar-btn">회원가입</button>
        </div>

        <ul class="nav navbar-nav navbar-right" style="margin-right:20px">
            <li><a href="/" class="nav-item">Home</a></li>
            <li><a href="/test" class="nav-item">강의</a></li>
            <li><a href="#" class="nav-item">도서</a></li>
            <li><a href="#" class="nav-item">커뮤니티</a></li>
            <li><a href="#" class="nav-item">마이페이지</a></li>
            <li><a href="#" class="nav-item">
                <span class="glyphicon glyphicon-bell"></span>
            </a></li>
        </ul>
    </div>
</nav>
</html>